<h1 class=heading>{{name}}</h1>

<div class = "intro">
    <p class = "title">Welcome to {{name}}</p>
    <p class = "title"> Have you ever found yourself stuck for ideas on what to cook at night. Let us help you with some suggested recipes from around the world</p>
</div>

<form class="ingredient" id="ingredient" action="/" accept-charset="UTF-8" method="post">

<p>
    <input placeholder="Ingredient" type="text" name="ingredient" /><br><br>
</p>

    <input type="submit" name="commit" value="Lets eat" />


