<h3>{{title}}</h3><br>
  <img src="{{image_url}}" alt = "Sorry but we couldn't find a recipe. Let's try something else."><br>
  <p class='from'>Recipe from {{publisher}}</p><br>
	  <a href="{{source_url}}">get the recipe</a><br>
  <div class ='buttons'>
	  <input type="button" value="new recipe" onClick="window.location.reload()">
	  <a href='/'><button type='button'>New ingredients</button></a>
  </div>
  <p class='footer'> powered by Food2Fork</p>